<footer id="contact">
    <img class="footer-image" src="{{BASE}}img/image-3.png" alt="Footer Image" loading="lazy">
    <div class="right-container">
        <div class="section-title m-b-1">
            <h2 class="heading-1">Contact</h2>
        </div>
        <a class="contact-info link-button" href="mailto:gabrielfquadrado@gmail.com">gabrielfquadrado@gmail.com</a>
        <p class="contact-info">(587) 839-0631</p>
        <p class="contact-info">Calgary, AB, Canada</p>
        <a class="contact-info link-button" href="https://www.linkedin.com/in/gabrielquadrado/" target="_blank">
            <i data-feather="linkedin" class="icon-m" aria-hidden="true"></i>
            Linkedin
        </a>
        <p class="m-t-2">&copy; <span id="footer-year"></span> Designed by Gabriel Quadrado</p>
        <script>document.getElementById('footer-year').textContent = new Date().getFullYear();</script>
    </div>
</footer>
