<header>
    <nav>
        <a href="{{BASE}}index.html" class="logo heading-1">Gabriel Q.</a>
        <button class="menu-toggle" aria-label="Open menu" aria-expanded="false">
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
        </button>
        <ul>
            <li><a class="nav-item" href="{{BASE}}index.html">Home</a></li>
            <li><a class="nav-item" href="{{BASE}}index.html#career">Career</a></li>
            <li><a class="nav-item" href="{{BASE}}index.html#education">Education</a></li>
            <li><a class="nav-item" href="{{BASE}}index.html#projects">Projects</a></li>
            <li><a class="primary-button" href="{{BASE}}index.html#contact">Get In Touch</a></li>
            <li>
                <button class="theme-toggle" aria-label="Toggle dark mode">
                    <i data-feather="moon" class="icon-s theme-icon-dark" aria-hidden="true"></i>
                    <i data-feather="sun" class="icon-s theme-icon-light" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </nav>
</header>
